VITE_BACK_END_SERVER_URL='http://localhost:3000'

# Change search term (currently only searches coca cola)
VITE_FOOD_SEARCH_BASE_URL='https://sg.openfoodfacts.org/cgi/search.pl/' 

VITE_AIRTABLE_BASE_URL = 'https://api.airtable.com/v0/appcQs7vydK3N4Cyn/'

VITE_AIRTABLE_KEY = xxx